/* styles/components/_base.css */
 
/* cofiguracion base para todo el sitio*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin-bottom: var(--spacing-md);
}
/*Layout Principal*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

.section {
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-lg) 0;
}
/*Componente HERO (Con CSS Avanzado: Flexbox)*/
.hero-section {
    height: 400px;
    background: url('/assets/video_preview_0000.avif') center/cover no-repeat;
    color: var(--color-primary);
    text-align: center;
    padding: 0;
}
.hero-content {
    background-color: rgba(246, 247, 248, 0.4); 
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-base);
}
.hero-title {
    font-size: 3rem;
    color: var(--color-primary);
    text-shadow: 1px 1px 3px rgba(241, 239, 239, 0.5);
    margin-bottom: var(--spacing-sm);
}
.hero-subtitle {
    font-size: 1.25rem;
    font-family: var(--font-family-base);
    margin-bottom: var(--spacing-lg);
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: var(--spacing-sm);
}

.product-price {
    font-weight: 700;
    color: var(--color-primary);
    font-size: 1.2rem;
}

.footer {
    background-color: var(--color-text);
    color: #a1e0eb;
    padding: var(--spacing-md);
    text-align: center;
}